.single-side-post
{
  padding: 1.5rem 0;
  width: 100%;
  max-width: 467.74px;
  border-bottom: 1px solid #F2E7FA;
    
}

h2 {
  
  display: flex;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.single-side-post:nth-child(1)
{
  padding-top: 0;
}


.single-side-post:nth-child(2)
{
  border-bottom: none;

}

